h1{
	position: relative;
	top: 50px;
}

img{
	width: 500px;
}
.img{
    width: 50px;
	padding-top: 20px;
	position: relative;
    left: 350px;
    top: 50px;
}
.p{
	width: 1000px;
	border: 3px solid;
	padding-top: 20px;
	padding-bottom: 50px;
	position: absolute;
    top: 500px;
    left: 150px;
}
.button{
	position: fixed;
    top: 820px;
    left: 950px;
}
button{
	background-color: yellow;
}